src/main/test/
src/main/resources/
target/classes/de/pangaea/ucum/v1/model/IgnoreLabelMixin.class
target/classes/de/pangaea/ucum/v1/model/ObjectFactory.class
target/classes/de/pangaea/ucum/v1/model/PanQuantity.class
target/classes/de/pangaea/ucum/v1/model/Quantities$Quantity.class
target/classes/de/pangaea/ucum/v1/model/Quantities.class
target/classes/de/pangaea/ucum/v1/PanExpressionComposer.class
target/classes/de/pangaea/ucum/v1/PanUcumApp.class
target/classes/de/pangaea/ucum/v1/PanUcumService.class
target/classes/pucum/permute_example.class
target/classes/config.properties
target/classes/log4j.properties
target/classes/quantities.xml
target/classes/quantities.xsd
target/classes/SplitTest.class
target/classes/Test1.class
target/classes/ucum-essence.xml
target/classes/units-corr-20180706.txt
target/m2e-wtp/web-resources/META-INF/maven/de.pangaea/pucum/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/de.pangaea/pucum/pom.xml
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/pucum/META-INF/MANIFEST.MF
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/model/IgnoreLabelMixin.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/model/ObjectFactory.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/model/PanQuantity.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/model/Quantities$Quantity.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/model/Quantities.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/PanExpressionComposer.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/PanUcumApp.class
target/pucum/WEB-INF/classes/de/pangaea/ucum/v1/PanUcumService.class
target/pucum/WEB-INF/classes/config.properties
target/pucum/WEB-INF/classes/log4j.properties
target/pucum/WEB-INF/classes/quantities.xml
target/pucum/WEB-INF/classes/quantities.xsd
target/pucum/WEB-INF/classes/ucum-essence.xml
target/pucum/WEB-INF/classes/units-corr-20180706.txt
target/pucum/WEB-INF/lib/activation-1.1.1.jar
target/pucum/WEB-INF/lib/aopalliance-repackaged-2.4.0-b25.jar
target/pucum/WEB-INF/lib/backport-util-concurrent-3.1.jar
target/pucum/WEB-INF/lib/classworlds-1.1.jar
target/pucum/WEB-INF/lib/commons-cli-1.2.jar
target/pucum/WEB-INF/lib/commons-codec-1.2.jar
target/pucum/WEB-INF/lib/commons-collections4-4.1.jar
target/pucum/WEB-INF/lib/commons-httpclient-3.0.jar
target/pucum/WEB-INF/lib/commons-lang-2.6.jar
target/pucum/WEB-INF/lib/doxia-logging-api-1.1.jar
target/pucum/WEB-INF/lib/doxia-sink-api-1.1.jar
target/pucum/WEB-INF/lib/FastInfoset-1.2.13.jar
target/pucum/WEB-INF/lib/hk2-api-2.4.0-b25.jar
target/pucum/WEB-INF/lib/hk2-locator-2.4.0-b25.jar
target/pucum/WEB-INF/lib/hk2-utils-2.4.0-b25.jar
target/pucum/WEB-INF/lib/istack-commons-runtime-3.0.5.jar
target/pucum/WEB-INF/lib/jackrabbit-jcr-commons-1.5.0.jar
target/pucum/WEB-INF/lib/jackrabbit-webdav-1.5.0.jar
target/pucum/WEB-INF/lib/jackson-annotations-2.5.1.jar
target/pucum/WEB-INF/lib/jackson-core-2.5.1.jar
target/pucum/WEB-INF/lib/jackson-databind-2.5.1.jar
target/pucum/WEB-INF/lib/jackson-jaxrs-base-2.5.1.jar
target/pucum/WEB-INF/lib/jackson-jaxrs-json-provider-2.5.1.jar
target/pucum/WEB-INF/lib/jackson-module-jaxb-annotations-2.5.1.jar
target/pucum/WEB-INF/lib/javassist-3.18.1-GA.jar
target/pucum/WEB-INF/lib/javax.annotation-api-1.2.jar
target/pucum/WEB-INF/lib/javax.inject-2.4.0-b25.jar
target/pucum/WEB-INF/lib/javax.ws.rs-api-2.0.1.jar
target/pucum/WEB-INF/lib/jaxb-api-2.3.0.jar
target/pucum/WEB-INF/lib/jaxb-core-2.3.0.jar
target/pucum/WEB-INF/lib/jaxb-impl-2.3.0.jar
target/pucum/WEB-INF/lib/jaxb-runtime-2.3.0.jar
target/pucum/WEB-INF/lib/jaxb-xjc-2.3.0.1.jar
target/pucum/WEB-INF/lib/jcl-over-slf4j-1.5.6.jar
target/pucum/WEB-INF/lib/jersey-client-2.19.jar
target/pucum/WEB-INF/lib/jersey-common-2.19.jar
target/pucum/WEB-INF/lib/jersey-container-servlet-2.19.jar
target/pucum/WEB-INF/lib/jersey-container-servlet-core-2.19.jar
target/pucum/WEB-INF/lib/jersey-entity-filtering-2.19.jar
target/pucum/WEB-INF/lib/jersey-guava-2.19.jar
target/pucum/WEB-INF/lib/jersey-media-jaxb-2.19.jar
target/pucum/WEB-INF/lib/jersey-media-json-jackson-2.19.jar
target/pucum/WEB-INF/lib/jersey-server-2.19.jar
target/pucum/WEB-INF/lib/jsch-0.1.38.jar
target/pucum/WEB-INF/lib/jsr305-2.0.1.jar
target/pucum/WEB-INF/lib/log4j-1.2.17.jar
target/pucum/WEB-INF/lib/maven-artifact-2.2.1.jar
target/pucum/WEB-INF/lib/maven-artifact-manager-2.2.1.jar
target/pucum/WEB-INF/lib/maven-core-2.2.1.jar
target/pucum/WEB-INF/lib/maven-error-diagnostics-2.2.1.jar
target/pucum/WEB-INF/lib/maven-filtering-1.3.jar
target/pucum/WEB-INF/lib/maven-model-2.2.1.jar
target/pucum/WEB-INF/lib/maven-monitor-2.2.1.jar
target/pucum/WEB-INF/lib/maven-plugin-api-2.2.1.jar
target/pucum/WEB-INF/lib/maven-plugin-descriptor-2.2.1.jar
target/pucum/WEB-INF/lib/maven-plugin-parameter-documenter-2.2.1.jar
target/pucum/WEB-INF/lib/maven-plugin-registry-2.2.1.jar
target/pucum/WEB-INF/lib/maven-profile-2.2.1.jar
target/pucum/WEB-INF/lib/maven-project-2.2.1.jar
target/pucum/WEB-INF/lib/maven-reporting-api-2.2.1.jar
target/pucum/WEB-INF/lib/maven-repository-metadata-2.2.1.jar
target/pucum/WEB-INF/lib/maven-settings-2.2.1.jar
target/pucum/WEB-INF/lib/maven-shared-utils-0.6.jar
target/pucum/WEB-INF/lib/nekohtml-1.9.6.2.jar
target/pucum/WEB-INF/lib/osgi-resource-locator-1.0.1.jar
target/pucum/WEB-INF/lib/plexus-build-api-0.0.4.jar
target/pucum/WEB-INF/lib/plexus-cipher-1.4.jar
target/pucum/WEB-INF/lib/plexus-container-default-1.0-alpha-9-stable-1.jar
target/pucum/WEB-INF/lib/plexus-interactivity-api-1.0-alpha-4.jar
target/pucum/WEB-INF/lib/plexus-interpolation-1.19.jar
target/pucum/WEB-INF/lib/plexus-sec-dispatcher-1.3.jar
target/pucum/WEB-INF/lib/plexus-utils-3.0.18.jar
target/pucum/WEB-INF/lib/slf4j-api-1.5.6.jar
target/pucum/WEB-INF/lib/slf4j-jdk14-1.5.6.jar
target/pucum/WEB-INF/lib/slf4j-nop-1.5.3.jar
target/pucum/WEB-INF/lib/stax-ex-1.7.8.jar
target/pucum/WEB-INF/lib/txw2-2.3.0.jar
target/pucum/WEB-INF/lib/ucum-1.0.1.jar
target/pucum/WEB-INF/lib/validation-api-1.1.0.Final.jar
target/pucum/WEB-INF/lib/wagon-file-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-http-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-http-lightweight-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-http-shared-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-provider-api-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-ssh-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-ssh-common-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-ssh-external-1.0-beta-6.jar
target/pucum/WEB-INF/lib/wagon-webdav-jackrabbit-1.0-beta-6.jar
target/pucum/WEB-INF/lib/xercesMinimal-1.9.6.2.jar
target/pucum/WEB-INF/lib/xmlpull-1.1.3.1.jar
target/pucum/WEB-INF/lib/xpp3_xpath-1.1.4c.jar
target/pucum/WEB-INF/lib/xpp3-1.1.4c.jar
target/pucum/WEB-INF/web.xml
target/pucum/index.jsp
target/pucum-0.0.1-SNAPSHOT/WEB-INF/config.properties
target/pucum-0.0.1-SNAPSHOT/WEB-INF/log4j.properties
target/pucum-0.0.1-SNAPSHOT/WEB-INF/quantities.xml
target/pucum-0.0.1-SNAPSHOT/WEB-INF/quantities.xsd
target/pucum-0.0.1-SNAPSHOT/WEB-INF/ucum-essence.xml
target/pucum-0.0.1-SNAPSHOT/WEB-INF/units-corr-20180706.txt
target/pucum.war
